<h1>LetsGo#about</h1>
<p>Find me in app/views/lets_go/about.html.erb</p>

<%= link_to 'New pokevent with landmark id being 8', new_poke_event_url(land_mark_id: '8') %><br>
<%= link_to 'New spotted raid with landmark id being 1', new_spot_raid_url(land_mark_id: '1') %><br>
