<div class="container py-5 text-center" id="your-container">
  <h1>New Going To Raid</h1>
  <p id="notice"><%= notice %></p>


  <p1> Do you want to go the raid </p1>


  <%= render 'form', going_to_raid: @going_to_raid%>

  <%= link_to 'Back', root_path, :class => "btn btn-link btn-danger text-white" %>
</div>
