<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @going_to_raid.user %>
</p>

<p>
  <strong>Plan raid:</strong>
  <%= @going_to_raid.plan_raid %>
</p>

<%= link_to 'Back', going_to_raids_path %>
