<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @going_to_raid.user.trainer %>
</p>

<p>
  <strong>Plan raid:</strong>
  <%= @going_to_raid.plan_raid %>
</p>

<%= link_to 'Back', root_path %>
