// Place all the styles related to the lets_go controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 90vh;
  width: 100%;
}

/* unvisited link */
.linky:link {
 color: white;
}

/* visited link */
.linky:visited {
 color: white;
}
